.tweet {
    margin: 0 0 10px;
}
    .tweet .profile-pic {
        float: left;
        width: 55px;
    }
    .tweet .text {
        float: left;
        width: 87%;
    }
        .tweet .text .timestamp {
            display: block;
        }
    .tweet .controls {
        clear: both;
    }
        .controls li {
            display: inline-block;
        }